@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/2211f33c5285ef3978e258240b60637b?family=Mark+GEO);
body{
    font-family:  "Mark GEO", inter, sans-serif;
}
.auth-header{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: rgba(244, 244, 244, 1);
    padding-left: 5px;
    padding-right: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    
}

.link{
    padding: 0px 16px;
    font-size: 0.85rem;
    font-weight: 500;
}
.active-link{
    font-size: 0.85rem;
    color: #ff6c1d;
    border-bottom: solid 2px #ff6c1d;
    padding: 0px 16px 14px 16px;
}

.auth-header> button{
    border:none;
    font-weight: 500;
    font-size: 0.81rem;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    will-change: background-color;
}

.auth-header > button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.auth-header > button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

