@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(https://db.onlinewebfonts.com/c/2211f33c5285ef3978e258240b60637b?family=Mark+GEO);
body {
  font-family: "Mark GEO", inter, sans-serif;
  background-color: #f4f4f4;
}
/* arrow */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.auth-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgba(244, 244, 244, 1);
  padding-left: 5px;
  padding-right: 32px;
  border-bottom: 1px solid #e1e1e1;
  white-space: nowrap;
}

.link {
  padding: 0px 16px;
  font-size: 0.87rem;
  font-weight: 500;
}
.active-link {
  font-size: 0.87rem;
  font-weight: 500;
  color: #ff6c1d;
  border-bottom: solid 2px #ff6c1d;
  padding: 0px 16px 14px 16px;
}

.auth-header > button {
  border: none;
  font-weight: 500;
  font-size: 0.81rem;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  will-change: background-color;
}

.auth-header > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-header > button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* personal auth page */

.auth-BOG-logo, .auth-BOG-manager-logo {
  margin: 16px 32px 16px 36px;
  width: 200px;
  height: auto;
  display: block;
}
.auth-BOG-logo > img {
  width: 200px; 
}
.auth-BOG-manager-logo>img{
    width: 132px;
}
.login-personal {
  display: flex;
}
.login-personal-left {
  width: 50%;
}
.login-personal-right {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.login-personal-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1250px) {
  .login-personal-right {
    display: none;
  }
  .login-personal-left {
    width: 100%;
  }
}
.personal-card {
  max-width: 525px;
  background-color: white;
  border-radius: 10px;
}
.personal-card-title {
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 0.875rem;
  border-bottom: solid 1px #f4f4f4;
}
.personal-card-form-container {
  display: flex;
  justify-content: center;

  margin: 32px 64px 0px 64px;
}
.personal-card-qr > img {
  height: 94px;
  width: 94px;
}

.personal-card-username,
.personal-card-password {
  display: flex;
  flex-direction: column;
}

.login-input {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  width: 397px;
  color: rgba(0, 0, 0, 0.68);
}
.card-container {
  width: 525px;
  margin: 0 auto;
}
.personal-card-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.button1{
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.25s ease;
  background: #fc6719;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.button2 {
  background: transparent;
  color: #fc6719;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* **********************OPTIONS************************************ */

.option-button-container{
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius:12px;
  background-color: #EAEAEA;
  max-width: 640px; 
  width: 100%;
  transition: transform 0.2s ease, background-color  0.5s ease;
}
.option-button-container:hover{
  background-color: #E1E1E1;
}

.options-button-content{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.info-container{
  display: flex;
  
}
.options-img-container > img{
  width: 16px;
}

.options-img-container{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8D8D8;
  border-radius: 24px;
  
}
.option-text{
  margin-left: 12px;
  line-height: 1.5;
  /*  */
}
.option-text > h2{
  color: #171717;
  font-size: 0.8rem;
  font-weight: 600;
}
.option-text > p{
  margin-top: 4px;
  color: #2D2D2D;
  font-size: 0.75rem;
  font-weight: 500;
}
.options-button-content > button{
  color: #929292;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color  0.5s ease;
}
.options-button-content > button:hover {
  background-color: #D8D8D8;
}
