@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(https://db.onlinewebfonts.com/c/2211f33c5285ef3978e258240b60637b?family=Mark+GEO);

:root {
  --main-color:#ff5c0a;
  --dashboard-header-element-color: #a8320052;
  --dashboard-header-element-color-hover: #a832007a;
  --dashboard-header-element-color-active: rgba(205, 68, 4, 1);
  --dashboard-switch-accounts-hover: #eb5509;
  --dashboard-switch-accounts-active: #e34e07;
  --dashboard-element-color-transition: background 0.3s ease-in-out;
  --dashboard-header-background-color: #ff5c0a;
  --dashboard-header-searchbar-focus-color: white; 
}
.dark {
  --dashboard-header-background-color: #2f3032;
  --dashboard-header-element-color: #3b3c3e;
  --dashboard-header-element-color-hover: #48494B;
  --dashboard-header-element-color-active: rgba(80, 81, 83, 1);
  --dashboard-switch-accounts-hover: #3D3E40;
  --dashboard-switch-accounts-active: #444547;
  --dashboard-header-searchbar-focus-color: rgba(49, 51, 53, 1); 

}

body {
  font-family: "Mark GEO", inter, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

/* * * * * * * **  ** * * * * HEADER* * * * * * **  ** * * * *  */
.auth-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgba(244, 244, 244, 1);
  padding-left: 5px;
  padding-right: 32px;
  border-bottom: 1px solid #e1e1e1;
  white-space: nowrap;
  /* position: fixed;
  width:50% */
}

.link {
  padding: 0px 16px;
  font-size: 0.87rem;
  font-weight: 500;
}
.active-link {
  font-size: 0.87rem;
  font-weight: 500;
  color: #ff6c1d;
  border-bottom: solid 2px #ff6c1d;
  padding: 0px 16px 14px 16px;
}

.auth-header > button {
  border: none;
  font-weight: 500;
  font-size: 0.81rem;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  will-change: background-color;
}

.auth-header > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-header > button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* *************************AUTH LOGO STYLING****************************************** */
/* classnames: 
/manager - auth-BOG-manager-logo 
/personal- auth-BOG-personal-logo
/business- auth-BOG-business-logo
/all paths- auth-BOG-logo
img - auth-BOGlogo
<h2> da span?
*/

.auth-BOG-logo {
  margin: 16px 32px 16px 36px;
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: default;
}

.auth-BOG-logo > div {
  display: flex;
  flex-direction: column;
}

.auth-BOGlogo {
  height: 42px;
}
/* personal page */
.auth-BOG-personal-logo > div > h2 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #5c5c5d;
}

/* business */
.auth-BOG-business-logo > div > h2 {
  font-size: 0.79rem;
  font-weight: 600;
  color: #6e6f71;
}
.auth-BOG-business-logo > div > span {
  font-size: 0.6rem;
  font-weight: 600;
  color: #6e6f71;
}
/* manager */
.auth-BOG-manager-logo {
  gap: 4px;
}
.auth-BOG-manager-logo > div {
  border-left: 1px solid #6f6f77;
  padding-left: 6px;
}
.auth-BOG-manager-logo > div > h2 {
  font-size: 0.85rem;
  font-weight: 700;
  color: #6f6f77;
}
.auth-BOG-manager-logo > div > span {
  font-size: 0.84rem;
  font-weight: 600;
  color: #6f6f77;
}

/* *********************** auth page*********************** */

.login {
  display: flex;
}
.login-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.login-content {
  flex: 1;
}

.login-right {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.login-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1250px) {
  .login-right {
    display: none;
  }
  .login-left {
    width: 100%;
  }
}
.auth-card {
  background-color: white;
  border-radius: 10px;
  width: 600px;
}
.auth-card-title {
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 0.875rem;
  border-bottom: solid 1px #f4f4f4;
}
.auth-card-form-container {
  display: flex;
  justify-content: center;
  padding: 32px 64px 48px 64px;
  border-radius: 10px;
  margin-top: 50;
}
.auth-card-qr > img {
  height: 94px;
  width: 94px;
}

.auth-card-username,
.auth-card-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.login-input {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  min-width: 397px;
  color: rgba(0, 0, 0, 0.68);
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.login-input:focus::placeholder {
  font-size: 0.625rem;
  color: #ff8442;
  transition: all 0.2s ease;
}
.login-input:focus {
  border: 1px solid #ff8442;
  color: #000000;
  outline: none;
}
/* .card-container {
  width: 525px;
  margin: 0 auto;
} */
/* .cards-container{
  min-height: 510px;
} */
.auth-card-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.button1 {
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 18px 24px;
  cursor: pointer;
  transition: all 0.25s ease;
  background: #fc6719;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.button2 {
  background: transparent;
  color: #fc6719;
  font-size: 0.75rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.auth-card-auth-methods {
  display: flex;
  margin-bottom: 48px;
}
.auth-save-username {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.auth-forgot-password {
  font-size: 0.875rem;
  color: #ff8442;
  font-weight: 500;
}

/* **********************OPTIONS************************************ */
.cards-container {
  margin: 20px 20px 0px 20px;
}
.option-button-container {
  padding: 16px;
  margin: 16px 0px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #eaeaea;
  max-width: 640px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.option-button-container:hover {
  background-color: #e1e1e1;
}

.options-button-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.info-container {
  display: flex;
}
.options-img-container > img {
  width: 16px;
}

.options-img-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
  border-radius: 24px;
  flex-shrink: 0;
}
.option-text {
  margin-left: 12px;
  line-height: 1.5;
  /*  */
}
.option-text > h2 {
  color: #171717;
  font-size: 0.8rem;
  font-weight: 600;
}
.option-text > p {
  margin-top: 4px;
  color: #2d2d2d;
  font-size: 0.75rem;
  font-weight: 500;
}
.options-button-content > button {
  color: #929292;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.options-button-content > button:hover {
  background-color: #d8d8d8;
}

/* *******************login main************************** */
.authCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;
  min-height: 500px;
}
.login-header {
  font-size: 1.15rem;
  font-weight: 700;
}

/* not my code */
@media (min-width: 1250px) {
  .login {
    display: flex;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }

  .login-left {
    width: 50%;
    /* overflow-y: auto; */
    height: 100vh;
  }

  .login-right {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ***********************FOOTER*********************** */

/* .auth-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
} */
.auth-footer > footer {
  margin-left: 32px;
  margin-right: 32px;
}

.footer-top-text {
  color: rgba(0, 0, 0, 0.92);
  font-weight: normal;
  font-size: 0.875;
  line-height: 1.4em;
  display: block;
  width: 100%;
}

.footer-quick-links {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4em;
  color: #4f4f4f;
}
.footer-quick-links li {
  display: flex;
  align-items: center;
}
.footer-quick-links li::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4f4f4f;
  display: inline-block;
  margin: 0 12px;
  vertical-align: middle;
  flex-shrink: 0;
}
.footer-social-icons {
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-social-icons > a > img {
  width: 15px;
  padding: 0 8px;
  margin-left: 4px;
}
.footer-download-links > a {
  padding: 8px 16px;
}

.footer-content {
  flex-wrap: wrap;
  /* margin-top: 48px; */
  padding-top: 32px;
  padding-bottom: 36px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1250px) {
  .auth-header {
    width: 100%;
  }
  .login-left {
    width: 100%;
  }
  .auth-footer {
    width: 100%;
  }
}

/* ***********************carousel*********************** */

.auth-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.auth-carousel-imgs {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.auth-carousel-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.auth-carousel-controls {
  position: absolute;
  bottom: 8px;
  transform: translateX(-50%);
  left: 50%;
  padding: 0.25rem;
  cursor: pointer;
}

.auth-carousel-btn {
  border: none;
  color: white;
  background-color: transparent;
  padding: 4px;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  margin: 0 48px;
}
.auth-carousel-btn:hover {
  background-color: #92929243;
}
.auth-carousel-indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.auth-carousel-dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.auth-carousel-dot.active {
  width: 8px;
  height: 8px;
  opacity: 1;
}

/* ***************sidebar*************** */
.burger {
  display: none;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
}

.auth-sidebar {
  position: fixed;
  top: 0;
  display: none;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1000;
}

.auth-sidebar.active {
  display: block;
}

.sidebar-link,
.sidebar-active-link {
  padding: 16px;
  font-size: 0.87rem;
  font-weight: 500;
}

.sidebar-active-link {
  font-size: 0.87rem;
  font-weight: 500;
  color: #ff6c1d;
  border-bottom: solid 2px #ff6c1d;
  padding: 16px;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
}

.sidebar-overlay.active {
  display: block;
}

/* ******************responsive****************** */

@media (max-width: 660px) {
  .auth-header {
    padding-right: 5px;
  }
  .auth-card {
    width: 86vw;
  }
  .auth-footer {
    flex-direction: column;
  }
  .login-input {
    min-width: 68vw;
    transition: none;
  }
  .authCardContainer {
    margin: 0px 4px;
  }
  .footer-quick-links {
    grid-auto-flow: row;
    margin-bottom: 16px;
  }
  .footer-social-icons {
    margin-bottom: 24px;
  }
  .footer-top-text {
    line-height: 1.2em;
  }
  .footer-content {
    flex-direction: column;
  }
}
@media (max-width: 481px) {
  .auth-header > nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .auth-header-burger {
    display: block;
  }
  .authCardContainer {
    min-height: 450px;
  }
}

/* ***************************DASHBOARD*************************** */
.dashboard-header-wrapper {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0px;
  width: 100%;
  background-color: var(--dashboard-header-background-color);
  top: 0px;
  z-index: 9999;
  transition: top 0.3s ease-in-out;
  padding: 16px 24px 16px 16px;
  /* height: 64px; */
  height: 72px;
  box-sizing: border-box;
  align-items: center;
}
.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.dashboard-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 100%;
  white-space: nowrap;
  width: 264px;
}
/* maybe calculate the width instead if aking it fixed */
.dashboard-header-left > img {
  max-height: 45px;
  margin-right: 2px;
}
.dashboard-header-left > h2 {
  font-size: 0.875rem;
  color: white;
  font-weight: 600;
}
.dashboard-header-input {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
  box-sizing: border-box;
  caret-color: var(--main-color);
  border: 0px;
  padding: 0px;
  outline: none;
  color: white;
  text-transform: inherit;
  background-color: inherit;
  width: 388px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard-header-right {
  margin-left: auto;
}
.dashboard-header-input::placeholder {
  color: white;
  font-size: 0.625rem;
}
.dashboard-header-form {
  display: flex;
  margin: 4px 0;
  box-sizing: border-box;
  gap: 8px;
  align-items: center;
}
.dashboard-header-form-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  border-radius: 8px;
  background: var(--dashboard-header-element-color);
  padding: 8px 12px;
  transition: var(--dashboard-element-color-transition);
  margin-left: 32px;
}
.dashboard-header-form-wrapper:hover {
  background: var(--dashboard-header-element-color-hover);
}
.dashboard-header-form-wrapper:focus-within {
  background: var(--dashboard-header-searchbar-focus-color);
}
.dashboard-header-input:focus::placeholder {
  color: transparent;
}

/* header right */
.dashboard-header-right {
  display: flex;
  gap: 8px;
}
.dashboard-header-right-icons {
  display: flex;
  gap: 20px;
}
.dashboard-header-right-icon {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: inherit;
  align-items: center;
  justify-content: center;
  transition: var(--dashboard-element-color-transition);
  background-color: var(--dashboard-header-element-color);
  cursor: pointer;
}
.dashboard-header-right-icon:hover {
  background-color: var(--dashboard-header-element-color-hover);
}
.dashboard-header-right-icon:active {
  background-color: var(--dashboard-header-element-color-active);
}
.dashboard-header-right-switch-accounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: var(--dashboard-header-element-color);
  transition: var(--dashboard-element-color-transition);
  cursor: pointer;
  border-radius: 20px;
  padding: 4px;
  border: none;
}
.dashboard-header-right-switch-accounts:hover {
  background-color: var(--dashboard-switch-accounts-hover);
  .dashboard-header-right-arrow {
    margin-top: 6px;
  }
}
.dashboard-header-right-switch-accounts:active {
  background-color: var(--dashboard-switch-accounts-active);
  .dashboard-header-right-arrow {
    margin-top: 6px;
  }
}

.dashboard-header-right-switch-accounts > span {
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  line-height: 1.4em;
}
.dashboard-header-icon-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff5c0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-header-right-arrow {
  margin-right: 8px;
  transition: margin-top 200ms ease-in-out;
}
